<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <!-- CSS Stylesheet  -->
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <form action="/" method="get">
        <button type="submit">Return Home</button>
    </form>
    <h1>Admin Login</h1>
    <p>Enter the administrator login and password to make changes to cemetary records.</p>
    <h2>This session will expire in 10 minutes.</h2>
    <form action="/login" method="POST">
        <div>
            <label for="username">User Name:</label>
            <input type="text" name="username" id="username">
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required>
        </div>
        <button type="submit">Login</button>
    </form>
</body>
</html>